# Lab Topic 05-population.ipynb
# Author: David Scally

Assignment:

i) - Part 1 70%
Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

Weighted mean age (by sex)
The difference between the sexes by age
This part does not need to look at the regions.

ie You can take the notebook I used in the lectures and substitute the sexes for the regions.

ii) - Part 2 20%

In the same notebook, make a variable that stores an age (say 35).

Write that code that would group the people within 5 years of that age together, into one age group 

Calculate the population difference between the sexes in that age group.


iii) - Part 3 10%

In the same notebook.

Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

In [1]:
import pandas as pd

In [2]:
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,IE0,Ireland,Number,5149139
1,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1492-13a3-e055-000000000001,Carlow County Council,Number,61968
2,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1433-13a3-e055-000000000001,Dublin City Council,Number,592713
3,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-149f-13a3-e055-000000000001,Dún Laoghaire Rathdown County Council,Number,233860
4,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-14a0-13a3-e055-000000000001,Fingal County Council,Number,330506
...,...,...,...,...,...,...,...,...,...,...,...,...
9787,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1497-13a3-e055-000000000001,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1498-13a3-e055-000000000001,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [3]:

#df.shape
#df
df.columns

Index(['STATISTIC', 'Statistic Label', 'TLIST(A1)', 'CensusYear',
       'C02199V02655', 'Sex', 'C02076V03371', 'Single Year of Age',
       'C03789V04537', 'Administrative Counties', 'UNIT', 'VALUE'],
      dtype='object')

In [4]:
# drop columns
drop_col_list = ['TLIST(A1)',
       'C02199V02655','C02076V03371','C03789V04537',]
df.drop(columns=drop_col_list, inplace=True)

df

,STATISTIC,Statistic Label,CensusYear,Sex,Single Year of Age,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,Both sexes,All ages,Ireland,Number,5149139
1,FY006AC01,Population,2022,Both sexes,All ages,Carlow County Council,Number,61968
2,FY006AC01,Population,2022,Both sexes,All ages,Dublin City Council,Number,592713
3,FY006AC01,Population,2022,Both sexes,All ages,Dún Laoghaire Rathdown County Council,Number,233860
4,FY006AC01,Population,2022,Both sexes,All ages,Fingal County Council,Number,330506
...,...,...,...,...,...,...,...,...
9787,FY006AC01,Population,2022,Female,100 years and over,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,Female,100 years and over,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,Female,100 years and over,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,Female,100 years and over,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,Female,100 years and over,Monaghan County Council,Number,7

In [5]:
# Cleaning - Remove all ages from column Single Year Of Age as not required
df = df[df["Single Year of Age"] != "All ages"]

# Cleaning - Remove Both Sexes from column Sex as not required, split per Male & Femal only required
df = df[df["Sex"] != "Both sexes"]

# Cleaning - Remove Ireland from Administrative counties as double counting
df = df[df["Administrative Counties"] != "Ireland"]

# Convert to string as was getting error when converting to integer in bottom step
df["Single Year of Age"] = df["Single Year of Age"].astype(str)

# Replace under 1 year with 0 
df["Single Year of Age"] = df["Single Year of Age"].str.replace('Under 1 year' ,'0')

# Replace characters with blanks
df["Single Year of Age"] = df["Single Year of Age"].str.replace(r'\D','', regex=True) # r added due to warning

# Covert from object to int
df["Single Year of Age"] = df["Single Year of Age"].astype('int64')

# Alternative using df.query -  allows to filter with Boolean expression
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html
 # NB Back tick needed for full string to be looked at
#df = df.query('`Single Year of Age` != "All ages"')
df

,STATISTIC,Statistic Label,CensusYear,Sex,Single Year of Age,Administrative Counties,UNIT,VALUE
3297,FY006AC01,Population,2022,Male,0,Carlow County Council,Number,346
3298,FY006AC01,Population,2022,Male,0,Dublin City Council,Number,3188
3299,FY006AC01,Population,2022,Male,0,Dún Laoghaire Rathdown County Council,Number,1269
3300,FY006AC01,Population,2022,Male,0,Fingal County Council,Number,2059
3301,FY006AC01,Population,2022,Male,0,South Dublin County Council,Number,1855
...,...,...,...,...,...,...,...,...
9787,FY006AC01,Population,2022,Female,100,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,Female,100,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,Female,100,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,Female,100,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,Female,100,Monaghan County Council,Number,7

In [ ]:
df_analy = pd.pivot_table(df, 'VALUE',"Single Year of Age","Sex")
print (df_analy.head(10))
# # write out the entire file to local machine
df_analy.to_csv("population_for_analysis.csv")

Sex                      Female         Male
Single Year of Age
0                    909.225806   955.161290
1                    888.548387   931.451613
2                    934.645161   975.354839
3                    951.064516  1000.032258
4                    961.903226  1022.129032
5                   1011.032258  1054.322581
6                   1052.322581  1099.741935
7                   1082.967742  1142.870968
8                   1110.870968  1170.838710
9                   1136.354839  1192.548387

In [ ]:
# Weighted Descriptive Statistics