### Lab Topic 05-population.ipynb
### Author: David Scally

**Assignment:**

**i) - Part 1 - 70%**
Write a jupyter notebook that analyses the differences between the sexes by age in Ireland.

Weighted mean age (by sex)
The difference between the sexes by age
This part does not need to look at the regions.

ie You can take the notebook I used in the lectures and substitute the sexes for the regions.

**ii) - Part 2 - 20%**

In the same notebook, make a variable that stores an age (say 35).
Write that code that would group the people within 5 years of that age together, into one age group 
Calculate the population difference between the sexes in that age group.

**iii) - Part 3 - 10%**

In the same notebook.
Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

In [17]:
# 1.  Import Libraries
# Data frames. Allows us to easily read in a csv file, can read directly from the internet.
import pandas as pd

We'll start by 
1. Importing pandas library
2. Reading in the cso url file & viewing it by using df.
3.i) Review the columns to see present columns
 ii) Remove columns we don't need
4. Clean the data by
    i) **'Single Year of Age'** column - Removing 'All Ages' as we need count across specific age  
    ii) **"Sex"** column - Removing "Both sexes" as we need count for Male & Female  
    iii)**'Single Year of Age'**- Convert to string so we can clean the text (additional characters) and be left with intergers only  
    iv) Replace text 'Under 1 year' with 0 so types are the same & easier analysis  
    V) **'Single Year of Age'** column - Replace any characters with 0 so we just have integer eg '1 year' will now equal 1  
    vi) **'Single Year of Age'** column - Convert back to integer as should be all numeric now  
5. Create a copy of the df called **df_ire** as I only wanted to view the difference between

In [18]:
# Read in data from url link

url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/FY006A/CSV/1.0/en"
df = pd.read_csv(url)
df

,STATISTIC,Statistic Label,TLIST(A1),CensusYear,C02199V02655,Sex,C02076V03371,Single Year of Age,C03789V04537,Administrative Counties,UNIT,VALUE
0,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,IE0,Ireland,Number,5149139
1,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1492-13a3-e055-000000000001,Carlow County Council,Number,61968
2,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-1433-13a3-e055-000000000001,Dublin City Council,Number,592713
3,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-149f-13a3-e055-000000000001,Dún Laoghaire Rathdown County Council,Number,233860
4,FY006AC01,Population,2022,2022,-,Both sexes,-,All ages,2ae19629-14a0-13a3-e055-000000000001,Fingal County Council,Number,330506
...,...,...,...,...,...,...,...,...,...,...,...,...
9787,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1497-13a3-e055-000000000001,Roscommon County Council,Number,7
9788,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1498-13a3-e055-000000000001,Sligo County Council,Number,9
9789,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-149d-13a3-e055-000000000001,Cavan County Council,Number,12
9790,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-14a4-13a3-e055-000000000001,Donegal County Council,Number,31
9791,FY006AC01,Population,2022,2022,2,Female,650,100 years and over,2ae19629-1495-13a3-e055-000000000001,Monaghan County Council,Number,7

In [19]:

#df.shape
#df
df.columns

Index(['STATISTIC', 'Statistic Label', 'TLIST(A1)', 'CensusYear',
       'C02199V02655', 'Sex', 'C02076V03371', 'Single Year of Age',
       'C03789V04537', 'Administrative Counties', 'UNIT', 'VALUE'],
      dtype='object')

In [20]:
# drop columns
drop_col_list = ['STATISTIC','Statistic Label','TLIST(A1)',
       'C02199V02655','C02076V03371','C03789V04537','UNIT']
df.drop(columns=drop_col_list, inplace=True)

df

,CensusYear,Sex,Single Year of Age,Administrative Counties,VALUE
0,2022,Both sexes,All ages,Ireland,5149139
1,2022,Both sexes,All ages,Carlow County Council,61968
2,2022,Both sexes,All ages,Dublin City Council,592713
3,2022,Both sexes,All ages,Dún Laoghaire Rathdown County Council,233860
4,2022,Both sexes,All ages,Fingal County Council,330506
...,...,...,...,...,...
9787,2022,Female,100 years and over,Roscommon County Council,7
9788,2022,Female,100 years and over,Sligo County Council,9
9789,2022,Female,100 years and over,Cavan County Council,12
9790,2022,Female,100 years and over,Donegal County Council,31
9791,2022,Female,100 years and over,Monaghan County Council,7

In [21]:

# Cleaning - Remove all ages from column Single Year Of Age as not required
df = df[df["Single Year of Age"] != "All ages"]

# Cleaning - Remove Both Sexes from column Sex as not required, split per Male & Female only required
df = df[df["Sex"] != "Both sexes"]

# Convert to string as was getting error when converting to integer in bottom step
df["Single Year of Age"] = df["Single Year of Age"].astype(str)

# Replace under 1 year with 0 
df["Single Year of Age"] = df["Single Year of Age"].str.replace('Under 1 year' ,'0')

# Replace characters with blanks
df["Single Year of Age"] = df["Single Year of Age"].str.replace(r'\D','', regex=True) # r added due to warning - REF: https://stackoverflow.com/questions/38876905/pandas-raises-a-warning-when-using-str-replace-with-a-regex

# Covert from string to integer
df["Single Year of Age"] = df["Single Year of Age"].astype('int64')

# New dataframe created to look at Admin Counties for Ireland only as a whole
# REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.copy.html
df_ire = df.copy()

# Cleaning - Look at Ireland only from Administrative counties as double counting if administrative counties included
df_ire = df_ire[df_ire["Administrative Counties"] == "Ireland"]

# Alternative using df.query -  allows to filter with Boolean expression
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html
 # NB Back tick needed for full string to be looked at
#df = df.query('`Single Year of Age` != "All ages"')
df_ire

      CensusYear     Sex  Single Year of Age Administrative Counties  VALUE
3296        2022    Male                   0                 Ireland  29610
3328        2022    Male                   1                 Ireland  28875
3360        2022    Male                   2                 Ireland  30236
3392        2022    Male                   3                 Ireland  31001
3424        2022    Male                   4                 Ireland  31686
...          ...     ...                 ...                     ...    ...
9632        2022  Female                  96                 Ireland    956
9664        2022  Female                  97                 Ireland    732
9696        2022  Female                  98                 Ireland    492
9728        2022  Female                  99                 Ireland    336
9760        2022  Female                 100                 Ireland    584

[202 rows x 5 columns]

In [22]:
# Assignment 5 - Part 1 (i)  Difference between the sexes by Age(Numbers per age group)

# Create pivot table for analysis
df_analy = pd.pivot_table(df_ire, 'VALUE',"Single Year of Age","Sex") #REF: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
print (df_analy.head(10))
# # write file to local machine
df_analy.to_csv("population_for_analysis.csv")

Sex                  Female     Male
Single Year of Age
0                   28186.0  29610.0
1                   27545.0  28875.0
2                   28974.0  30236.0
3                   29483.0  31001.0
4                   29819.0  31686.0
5                   31342.0  32684.0
6                   32622.0  34092.0
7                   33572.0  35429.0
8                   34437.0  36296.0
9                   35227.0  36969.0

In [ ]:
# Assignment 5 - Part 1 (ii)  Weighted Mean Age by Sex 
# Weighted mean is sum(age*population at age) / sum (populations at age)

total_pop_female = df_analy['Male'].sum()
total_pop_male = df_analy['Female'].sum()
total_pop = df_analy['Female'].sum() +df_analy['Male'].sum()

print(f'The total female population of Ireland is:{total_pop_female:,.0f}')
print(f'The total male population of Ireland is:{total_pop_male:,.0f}')
print(f'The total population of Ireland is:{total_pop:,.0f}')   #REF: https://fstring.help/cheat/
print()



# Calculate the Cumulative Ages of each Gender
# Ref: https://atlantictu-my.sharepoint.com/personal/andrew_beatty_atu_ie/_layouts/15/stream.aspx?id=%2Fpersonal%2Fandrew_beatty_atu_ie%2FDocuments%2FPFDA+private+2025%2Fvideos%2FPFDA5.2-intro+to+stats.mp4&ga=1&startedResponseCatch=true&referrer=StreamWebApp.Web&referrerScenario=AddressBarCopied.view.b423ac9e-5353-4175-8bc7-0f78c6c53c70
# Index used as Single Year of Age is now the Index

cumlative_age_female = (df_analy.index*df_analy['Female']).sum()
cumlative_age_male = (df_analy.index*df_analy['Male']).sum()

print(f"The cumulative age of a female is {cumlative_age_female:,.0f}")
print(f"The cumulative age of a male is {cumlative_age_male:,.0f}")
print()



# Weighted Mean Age

weighted_mean_age_female = cumlative_age_female /total_pop_female
weighted_mean_age_male = cumlative_age_male /total_pop_male

print(f'Females - The weighted mean age of the female population of Ireland is: {weighted_mean_age_female:.2f}')
print(f'Males - The weighted mean age of the male population of Ireland is: {weighted_mean_age_male:.2f}')

The total female population of Ireland is:2,544,549
The total male population of Ireland is:2,604,590
The total population of Ireland is:5,149,139

The cumulative age of a female is 101,422,203
The cumulative age of a male is 96,029,874

Females - The weighted mean age of the female population of Ireland is: 39.86
Males - The weighted mean age of the male population of Ireland is: 36.87

In [ ]:
# # Assignment 5 - Part 2 (i)  Group people within 5 years of variable age(35) + calculate population difference

# Set age variable
age = 35

# Group people 5 years above + below 35
age_bracket_group = df_analy[(df_analy.index >= age - 5) & (df_analy.index <= age + 5)]

# Add new Column that takes the female pop. away from the Male
age_bracket_group['Difference in Pop. Count (Female - Males)'] = age_bracket_group['Female'] - age_bracket_group['Male']

#age_bracket_group
age_bracket_group

/tmp/ipykernel_36956/1487840066.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_bracket_group['Difference in Pop. Count (Female - Males)'] = age_bracket_group['Female'] - age_bracket_group['Male']

Sex,Female,Male,Difference in Pop. Count (Female - Males)
Single Year of Age,,,
30,32841.0,30858.0,1983.0
31,33710.0,32237.0,1473.0
32,34382.0,32413.0,1969.0
33,34489.0,31888.0,2601.0
34,36284.0,33121.0,3163.0
35,37940.0,34695.0,3245.0
36,39030.0,35828.0,3202.0
37,39193.0,36427.0,2766.0
38,40902.0,37513.0,3389.0
39,42592.0,38749.0,3843.0
40,43143.0,40301.0,2842.0

#**iii) - Part 3 - 10%**
Write the code that would work out which region in Ireland has the biggest population difference between the sexes in that age group

# It was at this stage I realised I needed the regions after all - I have completed the prior parts 1 & 2  without them & was unsure how to go back and include them now without re-doing age_bracket_group code.